@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --dark-blue: hsl(217, 54%, 11%);
    --dark-blue-bg: hsl(216, 50%, 16%);

}

body {
    background-color: var(--dark-blue);
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    color: var(--soft-blue);
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

.card {
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    max-width: 350px; 
    background-color: var(--dark-blue-bg);
    padding: 1.5rem; 
    border-radius: 10px;
    
}

.container {
    display: flex; 
    flex-direction: column;
    width: 100%;
}

h1 {
    color: white; 
    font-size: 1.4rem; 
}

h1:hover {
    color: var(--cyan);
    cursor: pointer;
}

.text p {
    margin-top: 0;
    font-size: 1rem; 
    color: var(--soft-blue);
    font-weight: 300;
}

.card-image {
    margin: 0;
    position: relative; 
}

.card-image img {
    object-fit: contain;
    width: 100%;
    height: auto; 
    border-radius: 10px;
    margin: 0; 
    overflow: hidden; 
    
}

.stats {
    display: flex; 
    justify-content: space-between;
}

.stats-eth {
    color: var(--cyan);
    display: flex;
    align-items: center;
    font-size: 0.9rem; 
}

.stats-eth svg {
    margin-right: 0.8rem; 
}

.stats-time {
    display: flex;
    align-items: center;
    font-size: 0.9rem; 
}

.stats-time svg {
    margin-right: 0.5rem; 
}
.line-break {
    width: 100%;
    height: 0.5px; 
    background-color: var(--soft-blue);
    margin-top: 1rem;

    
}
.avatar {
    margin-top: 1rem;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
}

.avatar-text {
    margin-left: 1rem; 
    font-size: 1rem; 
    font-weight: 300;
}

.avatar-text > p > span {
    color: white;
}

.avatar-text > p > span:hover {
    color: var(--cyan);
    cursor: pointer;
}

.avatar img {
    max-width: 13%;
}

footer {
    margin-top: 20px; 
    font-size: 0.8rem; 
}

footer a {
    color: white; 
}

.card__more {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 255, 247, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
  }
  
  .card-image:hover .card__more, .card-image:focus .card__more {
    opacity: 1;
  }
  